[tool.poetry]
name = "ptylab"
version = "0.1.0"
description = "A cross-platform, open-source inverse modeling toolbox for conventional and Fourier ptychography"
authors = ["Lars Loetgering <lars.loetgering@fulbrightmail.org>", "PtyLab Team"]
license = "MIT"
readme = "README.md"
packages = [
    { include = "PtyLab" }
]

[tool.poetry.dependencies]
python = ">=3.9, <3.12"
numpy = ">=1.22,<=1.24.3"
matplotlib = "^3.7.2"
h5py = "^3.9.0"
scipy = "^1.11.1"
scikit-image = "^0.21.0"
scikit-learn = "^1.3.0"
tqdm = "^4.65.0"
pyqtgraph = "^0.13.3"
tables = "^3.8.0"
bokeh = "^3.2.1"
pyqt5 = "^5.15.9"
tensorflow = "2.13.0"
cupy = { version = "^12.1.0", optional = true }
napari = {extras = ["all"], version = "^0.4.18"}
black = { version = "^23.7.0", optional = true }
ipykernel = { version = "^6.25.0", optional = true }

[tool.poetry.extras]
gpu = ["cupy"]
dev = ["black", "ipykernel"]
gpu-dev = ["cupy", "black", "ipykernel"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
