-e .
absl-py==2.1.0 ; python_version >= "3.9" and python_version < "3.12"
appnope==0.1.4 ; python_version >= "3.9" and python_version < "3.12" and platform_system == "Darwin"
asttokens==2.4.1 ; python_version >= "3.9" and python_version < "3.12"
astunparse==1.6.3 ; python_version >= "3.9" and python_version < "3.12"
black==23.12.1 ; python_version >= "3.9" and python_version < "3.12"
blosc2==2.5.1 ; python_version >= "3.9" and python_version < "3.12"
bokeh==3.4.1 ; python_version >= "3.9" and python_version < "3.12"
certifi==2024.6.2 ; python_version >= "3.9" and python_version < "3.12"
cffi==1.17.0 ; python_version >= "3.9" and python_version < "3.12" and implementation_name == "pypy"
charset-normalizer==3.3.2 ; python_version >= "3.9" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.9" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.12" and (platform_system == "Windows" or sys_platform == "win32")
comm==0.2.2 ; python_version >= "3.9" and python_version < "3.12"
contourpy==1.2.1 ; python_version >= "3.9" and python_version < "3.12"
cycler==0.12.1 ; python_version >= "3.9" and python_version < "3.12"
debugpy==1.8.5 ; python_version >= "3.9" and python_version < "3.12"
decorator==5.1.1 ; python_version >= "3.9" and python_version < "3.12"
exceptiongroup==1.2.2 ; python_version >= "3.9" and python_version < "3.11"
executing==2.0.1 ; python_version >= "3.9" and python_version < "3.12"
flatbuffers==24.3.25 ; python_version >= "3.9" and python_version < "3.12"
fonttools==4.53.0 ; python_version >= "3.9" and python_version < "3.12"
gast==0.4.0 ; python_version >= "3.9" and python_version < "3.12"
google-pasta==0.2.0 ; python_version >= "3.9" and python_version < "3.12"
grpcio==1.64.1 ; python_version >= "3.9" and python_version < "3.12"
h5py==3.11.0 ; python_version >= "3.9" and python_version < "3.12"
idna==3.7 ; python_version >= "3.9" and python_version < "3.12"
imageio==2.34.1 ; python_version >= "3.9" and python_version < "3.12"
importlib-metadata==7.1.0 ; python_version >= "3.9" and python_version < "3.10"
importlib-resources==6.4.0 ; python_version >= "3.9" and python_version < "3.10"
ipykernel==6.29.5 ; python_version >= "3.9" and python_version < "3.12"
ipython==8.18.1 ; python_version >= "3.9" and python_version < "3.12"
jedi==0.19.1 ; python_version >= "3.9" and python_version < "3.12"
jinja2==3.1.4 ; python_version >= "3.9" and python_version < "3.12"
joblib==1.4.2 ; python_version >= "3.9" and python_version < "3.12"
jupyter-client==8.6.2 ; python_version >= "3.9" and python_version < "3.12"
jupyter-core==5.7.2 ; python_version >= "3.9" and python_version < "3.12"
keras==3.3.3 ; python_version >= "3.9" and python_version < "3.12"
kiwisolver==1.4.5 ; python_version >= "3.9" and python_version < "3.12"
lazy-loader==0.4 ; python_version >= "3.9" and python_version < "3.12"
libclang==18.1.1 ; python_version >= "3.9" and python_version < "3.12"
markdown-it-py==3.0.0 ; python_version >= "3.9" and python_version < "3.12"
markdown==3.6 ; python_version >= "3.9" and python_version < "3.12"
markupsafe==2.1.5 ; python_version >= "3.9" and python_version < "3.12"
matplotlib-inline==0.1.7 ; python_version >= "3.9" and python_version < "3.12"
matplotlib==3.9.0 ; python_version >= "3.9" and python_version < "3.12"
mdurl==0.1.2 ; python_version >= "3.9" and python_version < "3.12"
ml-dtypes==0.3.2 ; python_version >= "3.9" and python_version < "3.12"
msgpack==1.0.8 ; python_version >= "3.9" and python_version < "3.12"
mypy-extensions==1.0.0 ; python_version >= "3.9" and python_version < "3.12"
namex==0.0.8 ; python_version >= "3.9" and python_version < "3.12"
ndindex==1.8 ; python_version >= "3.9" and python_version < "3.12"
nest-asyncio==1.6.0 ; python_version >= "3.9" and python_version < "3.12"
networkx==3.2.1 ; python_version >= "3.9" and python_version < "3.12"
numexpr==2.10.0 ; python_version >= "3.9" and python_version < "3.12"
numpy==1.24.3 ; python_version >= "3.9" and python_version < "3.12"
opt-einsum==3.3.0 ; python_version >= "3.9" and python_version < "3.12"
optree==0.11.0 ; python_version >= "3.9" and python_version < "3.12"
packaging==24.0 ; python_version >= "3.9" and python_version < "3.12"
pandas==2.2.2 ; python_version >= "3.9" and python_version < "3.12"
parso==0.8.4 ; python_version >= "3.9" and python_version < "3.12"
pathspec==0.12.1 ; python_version >= "3.9" and python_version < "3.12"
pexpect==4.9.0 ; python_version >= "3.9" and python_version < "3.12" and sys_platform != "win32"
pillow==10.3.0 ; python_version >= "3.9" and python_version < "3.12"
platformdirs==4.2.2 ; python_version >= "3.9" and python_version < "3.12"
prompt-toolkit==3.0.47 ; python_version >= "3.9" and python_version < "3.12"
protobuf==4.25.3 ; python_version >= "3.9" and python_version < "3.12"
psutil==6.0.0 ; python_version >= "3.9" and python_version < "3.12"
ptyprocess==0.7.0 ; python_version >= "3.9" and python_version < "3.12" and sys_platform != "win32"
pure-eval==0.2.3 ; python_version >= "3.9" and python_version < "3.12"
py-cpuinfo==9.0.0 ; python_version >= "3.9" and python_version < "3.12"
pycparser==2.22 ; python_version >= "3.9" and python_version < "3.12" and implementation_name == "pypy"
pygments==2.18.0 ; python_version >= "3.9" and python_version < "3.12"
pyparsing==3.1.2 ; python_version >= "3.9" and python_version < "3.12"
pyqt5-qt5==5.15.2 ; python_version >= "3.9" and python_version < "3.12"
pyqt5-sip==12.13.0 ; python_version >= "3.9" and python_version < "3.12"
pyqt5==5.15.10 ; python_version >= "3.9" and python_version < "3.12"
pyqtgraph==0.13.7 ; python_version >= "3.9" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_version < "3.12"
pytz==2024.1 ; python_version >= "3.9" and python_version < "3.12"
pywavelets==1.6.0 ; python_version >= "3.9" and python_version < "3.12"
pywin32==306 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.9" and python_version < "3.12"
pyyaml==6.0.1 ; python_version >= "3.9" and python_version < "3.12"
pyzmq==26.1.0 ; python_version >= "3.9" and python_version < "3.12"
requests==2.32.3 ; python_version >= "3.9" and python_version < "3.12"
rich==13.7.1 ; python_version >= "3.9" and python_version < "3.12"
scikit-image==0.21.0 ; python_version >= "3.9" and python_version < "3.12"
scikit-learn==1.5.0 ; python_version >= "3.9" and python_version < "3.12"
scipy==1.13.1 ; python_version >= "3.9" and python_version < "3.12"
setuptools==70.0.0 ; python_version >= "3.9" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.12"
stack-data==0.6.3 ; python_version >= "3.9" and python_version < "3.12"
tables==3.9.2 ; python_version >= "3.9" and python_version < "3.12"
tensorboard-data-server==0.7.2 ; python_version >= "3.9" and python_version < "3.12"
tensorboard==2.16.2 ; python_version >= "3.9" and python_version < "3.12"
tensorflow-io-gcs-filesystem==0.37.0 ; python_version >= "3.9" and python_version < "3.12"
tensorflow==2.16.1 ; python_version >= "3.9" and python_version < "3.12"
termcolor==2.4.0 ; python_version >= "3.9" and python_version < "3.12"
threadpoolctl==3.5.0 ; python_version >= "3.9" and python_version < "3.12"
tifffile==2024.5.22 ; python_version >= "3.9" and python_version < "3.12"
tomli==2.0.1 ; python_version >= "3.9" and python_version < "3.11"
tornado==6.4 ; python_version >= "3.9" and python_version < "3.12"
tqdm==4.66.4 ; python_version >= "3.9" and python_version < "3.12"
traitlets==5.14.3 ; python_version >= "3.9" and python_version < "3.12"
typing-extensions==4.5.0 ; python_version >= "3.9" and python_version < "3.12"
tzdata==2024.1 ; python_version >= "3.9" and python_version < "3.12"
urllib3==2.2.1 ; python_version >= "3.9" and python_version < "3.12"
wcwidth==0.2.13 ; python_version >= "3.9" and python_version < "3.12"
werkzeug==3.0.3 ; python_version >= "3.9" and python_version < "3.12"
wheel==0.43.0 ; python_version >= "3.9" and python_version < "3.12"
wrapt==1.16.0 ; python_version >= "3.9" and python_version < "3.12"
xyzservices==2024.4.0 ; python_version >= "3.9" and python_version < "3.12"
zipp==3.19.2 ; python_version >= "3.9" and python_version < "3.10"
